:root {
    --Light-Dark-Cyan: hsl(214, 26%, 88%);
    --Light-background: hsl(0, 0%, 100%);
    --Light-Grayish: hsl(227, 60%, 97%);
    --Dark-Cyan: #0a3871;
    --Grayish: #484f56;
    --Light-Gray: #D8DFE8;
    --Light-Gray-Blue: #265894;
}


* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    background-color: var(--Light-Dark-Cyan);
}


p{
    user-select: none;
}


main{
    padding: 24px 16px 40px;
}

@media screen and (min-width: 768px){
    main{
        padding: 40px;
        padding-top: 73px;
    }

}

@media screen and (min-width:1440px){
    main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1440px){
    form{
        display: flex;
    }
}

.textAreaWrite{
    margin-top: 56px;

}

@media screen and (min-width: 768px){
    .textAreaWrite{
        margin-top: 116px;
    }
}

textarea::placeholder{
    color: var(--Dark-Cyan);
    font-size: 32px;
    opacity: 1;
}

.textAreaWrite textarea, .textAreaResult textarea{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
    color: var(--Dark-Cyan);

}

.textAreaResult{
    background-color: rgba(255, 255, 255, 1);
    padding: 32px;
    border-radius: 24px;
    /* display: none; */
}

.textAreaResult textarea{
    color: var(--Grayish);
}

.info{
    display: flex;
    margin-bottom: 16px;
}

.info p{
    font-size: 12px;
    margin-bottom: 0;
}

.icon_info{
    height: 100%;
    align-self: center;
    padding-right: 8px;
}
.buttoms{
    cursor: default;
    margin-bottom: 64px;
}

.modal{
    display: none;
    position: absolute;
    padding: 25px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    background-color: #0d8add;
    color: #f1f8ff;
    font-family: inherit;
    border-radius: 8px;
    border: solid 1px #d5dee8;
    font-weight: bold;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .buttoms{
        display: flex;

    }
  }

@media screen and (min-width:1440px){
    .buttoms{
        width: 680px;
        margin-bottom: 32px;
    }
}

.coder, .encoder, .copy_buttom{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: aliceblue;
    min-height: 67px;
    margin-bottom: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .coder, .encoder{
        width: 100%;
        margin-bottom: 24px;
    }
    .coder{
        margin-right: 24px;
    }


}

.coder{
    background-color: var(--Dark-Cyan);
    color: var(--Light-background);
}

.coder:hover{
    background-color: var(--Light-Gray-Blue);

}

.coder:active, .encoder:active, .copy_buttom:active{
    scale: 95%;
}

.encoder, .copy_buttom{
    color: var(--Dark-Cyan);
    border-width: 1px;
    border-style: solid;
    border-color: var(--Dark-Cyan);
}

.encoder:hover{
    background-color: var(--Light-Gray);

}

.copy_buttom{
    background-color: var(--Light-background);
    margin-bottom: 0;
    margin-top: 32px;
}

.copy_buttom:hover{
    background-color: var(--Dark-Cyan);
    color: var(--Light-background);

}

.message{
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    width: 100%;
    padding: 32px;
    border-radius: 24px;
    /* display: none; */
}

.message p{
    cursor: default;
    margin: 0;
}

.message  > :nth-child(2){
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding-bottom: 16px;
}

.message  > :nth-child(3){
    font-size: 16px;
}

.hidden-element{
    display: none;
}

@media screen and (min-width:1440px){

    body{
        margin: 100vh;
        background-image: linear-gradient(to right top, #3070b3, 
        #3370b5, #3670b6, #3a6fb8, #3d6fb9, #3078bf,
        #1f80c5, #0088c9, #0099cd, #00a9cc, #1db8c8, #4fc6c3);
    
    
    }

    main{
        background-color: var(--Light-Gray);
        border-radius: 32px;
    }

    .encoder_desktop{
        /* background-color: red; */
        margin-left: 200px;
        margin-right: 80px;
    }

    .decoder_desktop{
        /* background-color: blue; */
        width: 400px;
    }

    .decoder_desktop::before{
        position: absolute;
        content: "";
        top: 40px;
        width: 400px;
        height: 48px;
        background-color: var(--Light-background);
        border-top-left-radius: 32px;
        border-top-right-radius: 32px ;

    }

    .logo{
        display: flex;
        /* background-color: yellow; */
        width: 120px;

    }

    .logo img{
        margin-left: auto;
        margin-right: auto;

    }

    .message{
        height: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0 ;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    .message_img{
        height: 304px;
        background-image: url(assets/img/Muñeco.png);
        background-repeat: no-repeat;
        margin-top: 163px;
    }

    .textAreaWrite textarea, .textAreaResult textarea{
        overflow: visible;
    }

    .textAreaResult{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 100%;
    }

    .textAreaResult textarea{
        height: 721px;
        font-size: 24px;
    }
    ::-webkit-scrollbar {
        width: 3px;
        background-color: var(--Light-Gray);
      }
    
    ::-webkit-scrollbar-thumb {
    background-color: var(--Dark-Cyan);
    border-radius: 10px;
    }

    ::-moz-scrollbar {
        width: 3px;
        background-color: var(--Light-Gray);
      }
      
    ::-moz-scrollbar-thumb {
    background-color: var(--Dark-Cyan);
    border-radius: 10px;
    }


}